* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

body #wrapper {
	min-height: 100%;
	margin-bottom: -90px;
}

body #wrapper:after {
	content: "";
	display: block;
	height: 90px;
}

body .navbar {
	height: 50px;
}

body .navbar ul.navbar-top-links {
	height: 100%;
}

body .navbar ul.navbar-top-links li.dropdown {
	display: inline-block;
	height: 100%;
}

body .navbar ul.navbar-top-links li.dropdown a.navlink {
	height: 100%;
	padding: 15px;
}

body .navbar ul.navbar-top-links li.dropdown .dropdown-user {
	min-width: 250px;
}

body .navbar ul.navbar-top-links li.dropdown .dropdown-user li {
	width: 100%;
}

body .navbar ul.navbar-top-links li.dropdown .dropdown-user li a {
	line-height: 35px;
}

body .huge {
	font-size: 3em;
	line-height: 1.2em;
}

body .huge-label {
	font-size: 1.3em;
	line-height: 1em;
}

body .panel-green {
	border-color: #0C0;
}

body .panel-green .panel-heading {
	color: white;
	background-color: #8dc95f;
}

body .panel-yellow {
	border-color: #F60;
}

body .panel-yellow .panel-heading {
	color: white;
	background-color: #E5AD1A;
}

body .footer {
	bottom: 0;
	width: 100%;
	height: 90px;
	background-color: #f5f5f5;
	padding: 20px;
}

body .footer .logo {
	height: 40px;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #06D85F;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px) {
	.box {
		width: 70%;
	}
	.popup {
		width: 70%;
	}
}

#description {
	max-width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.container {
  width: 500px;
  margin: 25px auto;
}

form {
  padding: 20px;
  background: #2c3e50;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form label {
  color: #fff;
}
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
form input {
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form button {
  height: auto;
  line-height: 30px;
  background: #e67e22;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

label.error{
	color: #990707;
}

[aria-invalid="true"] {
	outline: 5px auto #990404;
    outline-offset: -2px;
}

button.col-lg-4.col-md-4.col-sm-4.btn {
	margin-left: 8% !important;
    margin-right: 8% !important;
}

#datetimepicker{
	border-radius: 6px;
	text-aligne: center;
}

form[action="delete-member"] {
    margin-top: 12px;
    color: white;
}
/*# sourceMappingURL=style.css.map */